.section {
  min-height: 912px;
  flex-direction: column;
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

.nav {
  display: flex;
  margin-inline: auto;
  padding-bottom: 40px;
  padding-top: 20px;
}

.cardPanel {
  display: grid;
  padding-left: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 48px;
  max-width: 600px;
  max-height: 700px;
  flex-direction: row;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: #2f2f37 #8585ad;
  scrollbar-width: thin;
  overflow-y: auto;
}

.cardCounter {
  position: absolute;
  top: 0px;
  right: 4px;
  width: 32px;
  height: 32px;
  background-color: #4c4cff;
  border-radius: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 275px;
  height: 230px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.cardPrice {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  padding-top: 4px;
  padding-bottom: 4px;
}

.Icon {
  height: 40px;
  width: 40px;
}
