.container {
  display: flex;
  max-width: 1240px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.wrapper {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form {
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
}

.question {
  color: #8585ad;
}

.link {
  color: #4c4cff;
}

.error {
  color: #ff0000;
  text-align: center;
}
.panel {
  display: flex;
  justify-content: space-between;
}

.numbers {
  display: flex;
  width: 280px;
  height: 155px;
  flex-flow: column wrap;
  padding: 0;
  margin: 0;
  gap: 8px;
  list-style-type: none;
}

.numbersaccent {
  color: var(--colors-interface-success);
}
.ordercontainer {
  max-height: 70vh;
  overflow-y: auto;
}

.statscontainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.main {
  box-sizing: border-box;
}

.headertext {
  width: 1280px;
  margin: auto;
  display: flex;
}
.content {
  width: 1280px;
  justify-content: space-between;
  flex-direction: row;
  gap: 48px;
  margin: auto;
  display: flex;
}
