.container {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  padding: 3em;
  border-radius: var(--common-border-radius);
}

.header {
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.exitButton {
  width: fit-content;
  background: transparent;
}
