.container {
  display: flex;
  max-width: 1240px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.wrapper {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.form {
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
}

.question {
  color: #8585ad;
}

.link {
  color: #4c4cff;
}

.error {
  color: #ff0000;
  text-align: center;
}
