.section {
  min-height: 912px;
  width: 600px;
  flex-direction: column;
  display: flex;
  gap: 10px;
  padding-top: 100px;
}

.burgerWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}
.burgerStack {
  height: 380px;
  overflow: scroll;
  scrollbar-color: #2f2f37 #8585ad;
  scrollbar-width: thin;
  overflow-x: hidden;
  overflow-y: auto;
}
.Footer {
  display: flex;
  float: right;
  flex-direction: row;
  justify-content: right;
}

.Price {
  padding-top: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
}
.Icon {
  height: 40px;
  width: 40px;
}
.dragIcon {
  height: 24px;
  min-width: 24px;
  padding-top: 28px;
}
.burgerLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  float: right;
  padding-top: 8px;
  padding-bottom: 8px;
}
